<div class="widget">
    <div class="widget-body">
        <p>
            My name is <strong>Johnathan Lyman</strong>. This is where I stash most of my <em>thoughts</em> and <em>musings</em>. The links below will take you where you need to go.
        </p>
    </div>
</div>